.project-container {
    width: 80%; /* Set width to 80% */
    font-family: 'Kreon', sans-serif;
    background: linear-gradient(to bottom, #000000, #000289);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin: 0 auto; /* Center align the container */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 10px; /* Add border radius for a softer appearance */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}

.project-carousel-container {
    width: 30%; /* Adjusted width to accommodate image carousel */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.project-details-container {
    width: 50%; /* Adjusted width to accommodate project details */
    padding: 0 20px;
    color: #fff; /* Set text color to white */
}
/* Add hover styles for project-container */
.project-container:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Add white shadow on hover */
    animation: pulseShadow 0.5s ease infinite alternate; /* Add pulsating shadow animation */
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
}

/* Add hover animation for carousel-item */
.carousel-item:hover {
    transform: scale(1.1); /* Scale up the image on hover */
    transition: transform 0.5s ease; /* Add smooth transition */
    animation: shake 0.5s ease infinite alternate; /* Add shaking animation */
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}
/* Add styles for project heading */
.project-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase; /* Uppercase project heading */
}

/* Add styles for project duration */
.project-duration {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Add styles for project features list */
.project-features-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-feature-item {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

.project-features li {
    list-style-type: none;
    color: white;
}
/* Add styles for view project button */
.view-project-btn {
    padding: 12px 24px;
    background-color: #320292;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-project-btn:hover {
    background-color: #1e026f; /* Darken button color on hover */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
}